<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>

    <div class="details content">
        <h2><%= blog.title %></h2>
        <div class="content">
            <p><%= blog.body %></p>
        </div>
        <a class="delete" data-blog="<%= blog.id %>">
            <img src="/trashcan.svg" alt="delete icon">
        </a>
        <a class="update" data-blog="<%= blog.id %>">
            <button>Update blog</button>
        </a>
    </div>
    



    <%- include("./partials/footer.ejs") %>
    <script>
        const deleteBtn = document.querySelector('a.delete')
        deleteBtn.addEventListener('click',(event)=>{
            console.log("delete btn clicked")
            // console.log(deleteBtn.dataset.blog)
            const id = deleteBtn.dataset.blog
            const deleteEndpoint = `/blogs/${id}`
            console.log(deleteEndpoint)
            fetch(deleteEndpoint,{
                method: 'DELETE'
            }).then(response => response.json())
            .then(data=> {
                console.log(data)
                window.location.href = data.redirect
            })
            .catch(err=>{
                console.log(err)
            })
        })
        
        const updateBtn = document.querySelector('a.update')
        updateBtn.addEventListener('click',(event)=>{
            console.log("update btn clicked")
            const id = updateBtn.dataset.blog
            console.log(id)
            window.location.href = `/blogs/update/${id}`
        })
    </script>
</body>
</html>